:root {
    --accent: #dea96d;
}

body {
    font-feature-settings: "liga", "tnum", "calt", "zero", "ss01", "locl", "calt";
}

.link-button {
    background-color: var(--accent);
    color: var(--background);
    padding: 10px;
    margin: 10px;
    display: inline-block;
    text-decoration: none;
}

.link-button::before {
    content: "> ";
    visibility: hidden;
    /*font-weight: bold;*/
}

.link-button:hover {
    font-weight: bold;
    outline: 2px solid white;
}

.link-button:hover::before,
.link-button:focus::before {
    visibility: visible;
}

.hanchor {
    color: var(--accent);
}

@media screen and (max-width: 684px) {
    .link-button {
        display: block;
    }
}

/* ----- [ timeline ] ----- */

body {
    --text-size: 1rem;
    --inter-size: .2rem;
    --line-width: 5px;
    --line-width-half: calc(var(--line-width) / 2);

    --point-size: 3rem;
    --left-padding: 100px;
}



.timeline {
    position: relative;
}

/*.description h1{
    font-size: 2*$text-size;
}*/

.event {
    height: 100%;
    /*padding: 1.5rem 0px calc((var(--text-size) + var(--inter-size))*2) var(--left-padding);*/
    padding: 1.5rem 0px 1rem var(--left-padding);
    position: relative;
}

.event .title {
    margin: 0 0 1rem 1rem;
}

.event .desc{
    margin-left: 1rem;
}

.event .period {
    margin-bottom: 2rem;

}

.event .info{
    font-style: italic;
}

.event::before {

    content: '';
    border-left: var(--line-width) solid;

    position: absolute;
    height: 100%;
    top: 0;
    left: calc((var(--left-padding) - var(--line-width-half))/ 2);
    border-image-width: 0px 0px 0px var(--line-width);
}


.event::after {

    content: '∗';

    text-align: center;
    vertical-align: text-top;
    font-weight: bold;

    background-color: var(--background);
    font-size: var(--point-size);
    padding: var(--line-width) 0px;

    position: absolute;
    top: 0px;
    left: 1px;
    width: var(--left-padding);
}

@media screen and (max-width: 684px) {
    body {
        --left-padding: 30px;
    }
}