<div class="event">
    {{if .Get "title"}}<h3 class="title">{{.Get "title"}}</h1>{{end}}
    {{if or (.Get "startFormat") (.Get "info")}}
        <div class="info"><time {{if .Get "start" }}datetime="{{.Get "start"}}"{{end}}>{{.Get "startFormat"}}</time>
        {{if .Get "endFormat"}}-  <time {{if .Get "end" }}datetime="{{.Get "end"}}"{{end}}>{{.Get "endFormat"}}</time>{{end}}
        {{if .Get "info"}} | {{.Get "info"}}{{end}}
    </div>{{end}}
    <div class="desc">
        {{ .Inner }}
    </div>
</div>
